{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Error 404</h1>
        <h4>Lo siento, la página que buscas no ha sido encontrada</h4>
        <img src="https://i.imgur.com/j51uHm1.gif" alt="Not found gif">
    </div>

{% endblock %}