@keyframes colours {
    from {color: #ff2d27;}
    20% {color: #7b4480;}
    40% {color: #6f72ff;}
    60% {color: #62ff4a;}
    80% {color: #fffc34;}
    100% {color: #ff2d27}
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

h1{
    text-align: center;
}
img{
    animation: bounceInLeft 2s;
    max-width: 80%;
}
.rating{
    font-size: 6em;
    animation: colours 3s infinite;
}